body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;    
    background-color: aliceblue;
    /* align-items: center; */
    /* min-height: 100vh; */
}

.container {
    display: flex;
    justify-content: space-around;   
    margin: auto;
    margin-bottom: 0; 
    padding: 20px;
    padding-bottom: 5px;
    align-items: center;    
}

header, main {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

img {
    border-radius: 20px;
}

header {
    background-color: #0b3f6a;
    color: aliceblue;
}

main {
    background-color: #80b3ff;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #187bcd;
    cursor: pointer;
    color: white;
    border-radius: 15px;
}

.header:hover {
    background-color: white;
    color: #187bcd;
}

/* .header:active {
    background-color: #115388;
    color: white;    
} */

.dropdown {
    width: 90%;    
    display: none;
    padding: 20px;
    background-color: #80b3ff;
    border-radius: 10px;
}

ul li {
    margin-bottom: 10px;
}

.input-row {
    margin-bottom: 10px;
}

/* Form Equation */
input-form {
    display: flex;
    flex-direction: column;
    margin-top: 26px;    
}

label {
    margin-bottom: 4px;
    font-weight: bold;
}

.katik-input {
    outline: none;
    border-radius: 10px;
    padding: 4px;
    border-color: rgb(2, 1, 81);
}

.katik-input:focus {
    border: 1px solid rgba(0, 255, 255, 0.9);
}

.buttons {
    display: flex;
    align-self: center;
    gap: 20px;
    margin-top: 10px;
}

button {
    background-color: rgb(75, 148, 249);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;    
}

button:hover {
    background-color: rgb(13, 97, 213);
}

button:active {
    background-color: rgb(1, 44, 103);
    transform: translateY(2px);
}

/* Warning
#warning {
    color: red;
    font-weight: bolder;
    margin-top: 10px;
} */

a {
    text-decoration: none;
    color: #fff;
}

footer {    
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Push to bottom */
    font-size: 14px;
    height: min-content;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 30px;
        display: flex;
        flex-direction: column;               
    }
    
    header, main {
        width: 100%;
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        align-self: center;
    }
}